{
	admin 127.0.0.1:2019
}

{$GATEWAY_DOMAIN} {
	encode zstd gzip

	request_body {
		max_size 64MB
	}

	header {
		-Server
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		Content-Security-Policy "default-src 'self'; base-uri 'none'; frame-ancestors 'none'; form-action 'self'; object-src 'none'; script-src 'self'; style-src 'self'; img-src 'self' data:; connect-src 'self'; upgrade-insecure-requests"
		Permissions-Policy "camera=(), geolocation=(), microphone=(), payment=(), usb=()"
		Referrer-Policy "no-referrer"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Cross-Origin-Opener-Policy "same-origin"
		Cross-Origin-Resource-Policy "same-origin"
	}

	reverse_proxy gateway:8080 {
		header_up -Forwarded
		transport http {
			keepalive 30s
			read_buffer 64KiB
		}
		flush_interval -1
	}
}
